@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #cacaca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.switch {
  --secondary-container: #3a4b39;
  --primary: #84da89;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
 }
 
 .switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313033;
  transition: .2s;
  border-radius: 30px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #aeaaae;
  transition: .4s;
 }
 
 input:checked + .slider::before {
  background-color: var(--primary);
 }
 
 input:checked + .slider {
  background-color: var(--secondary-container);
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
 }
 
 input:checked + .slider:before {
  transform: translateX(1.9em);
 }

.nav-mobile {
  width: 100%;
  height: 800px;
  background: #070a18fc;
  backdrop-filter: blur(10px);
}

.dropdown-menu {
  margin: auto;
  display: none;
  background: #0c1129;
  border: 2px solid #cbd5e11a;
  padding: 10px;
  text-align: center; /* Wyśrodkowanie zawartości */
}
.dropdown-menu li {
  text-align: center;
  margin: 10px 0;
}
.dropdown-menu img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
ul li ul.dropdown-menu img {
  max-width: 100px; /* Dostosowujemy rozmiar obrazków na większych ekranach */
  height: auto;
}

.dropdown-menu a {
  display: inline;
padding: 20px 25px;
text-align: center;
}

ul li ul.dropdown-menu li {
  text-align: center;
  margin: 10px;
  flex: 1; /* Elastyczne dopasowanie obrazków */
}

ul li {
  position: relative; /* Ustawiamy pozycję względną dla elementów menu */
}

ul li ul.dropdown-menu {
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%);
  z-index: 100;
  display: none;
  justify-content: space-around;
  background: #0c1129;
  border: 2px solid #cbd5e11a;
  padding: 10px 20px;
  flex-wrap: nowrap; /* Bez zawijania na dużych ekranach */
}
ul li:hover ul.dropdown-menu {
  position: absolute;
  top: 100%; /* Pozycjonowanie bezpośrednio pod głównym elementem menu */
  left: 50%; /* Przesunięcie submenu na środek względem rodzica */
  transform: translateX(-50%); /* Wyrównanie centralne */
  z-index: 100; /* Upewniamy się, że submenu jest nad innymi elementami */
  display: flex;
  justify-content: space-around;
  background: #0c1129;
  border: 2px solid #cbd5e11a;
  padding: 10px 20px; /* Opcjonalnie: Dodajemy padding dla estetyki */
}

/* Media query dla mniejszych ekranów */
@media (max-width: 768px) {
  .mobile-hero {
    top: 80px;
  }
  .background-bottom-nav  {
    display: none !important;
  }
  ul li ul.dropdown-menu {
    display: none;
    flex-direction: column; /* Przełączamy się na układ pionowy */
    left: 0;
    transform: none; /* Usuwamy centrowanie przez transform, bo będzie pełna szerokość */
    width: 100%; /* Submenu zajmie całą szerokość na małych ekranach */
    padding: 10px;
  }

  ul li ul.dropdown-menu li {
    margin: 5px 0; /* Zmniejszamy marginesy między elementami na mniejszych ekranach */
  }

  ul li ul.dropdown-menu img {
    max-width: 80px; /* Zmniejszamy obrazki na mniejszych ekranach */
    height: auto;
  }
}

/* Dodatkowe media queries dla jeszcze mniejszych ekranów */
@media (max-width: 480px) {
  ul li ul.dropdown-menu img {
    max-width: 60px; /* Jeszcze mniejsze obrazki na ekranach poniżej 480px */
  }
}

.hash-span {
display: none;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary-dark {
  background: #070a18d6;
}

.bg-primary-light {
  background:#915eff;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-nav {
  border: 1px solid #cbd5e11a;;
}

.bg-primary2 {
  background: #070a18fc;
  backdrop-filter: blur(10px);
}

.bg-primary3 {
  background:#4f3d7791;
  backdrop-filter: blur(10px);
}

.background-bottom-nav {
  display: block;
  background: #0c112952
}

.arrow-left {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  content: '\f078';
  font-family: 'FontAwesome';
  display: inline-block;
}


/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
